*{
	margin:0;
	padding:0;
	border:solid 1px red;
}

/*stuff of index_css

#p01{
	color:blue;
}

p.error{
	color:red;
	font-family: verdana;
}

*/


/*ALl About Links

a:link{
	color: red;
	background-color: transparent;
	text-decoration:none;
}

a:visited{
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: rgb(244, 104, 66);
	text-decoration: none;
	background-color: transparent;
}

a:active{
	color: yellow;
	text-decoration: underline;
	background-color: yellow;
}



end of link stuff*/

img{

	width: 50%;
	padding: 5px;
	margin: 5px;
}

body{

	font-size: 100%;
}
